{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - Switch Recommender System{% else %}Switch Recommender System{% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <p class="navbar-brand">Switch Recommender System</p>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {% block app_content %}{% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <link href="//code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" rel="Stylesheet">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
    $(document).ready(function(){
    var games=[];

    function loadGames(){
            $.getJSON('/display_games', function(data, status, xhr){
                    for (var i=0; i < data.length; i++ ) {
                    games.push(data[i].game);
            }
    });
    };

    loadGames();
    console.log(games);

    $('#game_1').autocomplete({
            source: games,
            });

    $('#game_2').autocomplete({
            source: games,
           });

    $('#game_3').autocomplete({
            source: games,
            });

    });
    </script>
{% endblock %}